html {background: #e7e7e7e7;
      background-repeat: no-repeat;
      font-family:'Orbitron', sans-serif;
      align-items: center;
      font-size: 25px;}

body {margin: 0px; padding: 0px;}

@keyframes glow { 0% {box-shadow: 0px 0px 30px magenta;}
                  25% {box-shadow: 0px 0px 15px purple;}
                  50% {box-shadow: 0px 0px 30px lime;}
                  75% {box-shadow: 0px 0px 15px purple;}
                  100% {box-shadow: 0px 0px 30px magenta;}
}

.T1 {color: cyan; background: grey;
     box-shadow: 0px 0px 15px cyan;
     text-shadow: 0px 0px 15px blue;
     padding: 10px;
     cursor: default;
     width: 80%;
     max-width: 900px;
     position: relative; top: 40px;
     font-size: 30px;}

hr {color: black; position: relative; top: 40px;}

.T2 {color: lime; background: black;
     box-shadow: 0px 0px 15px lime;
     text-shadow: 0px 0px 15px lime;
     padding: 10px;
     cursor: default;
     width: 55%;
     max-width: 700px;
     position: relative; top: 40px;
     font-size: 21px;}

#A1 {color: black; cursor: default;
     width: 90%;
     position: relative; top: 40px;}

#I1 {position: relative; top: 40px;
     cursor: default;
     box-shadow: 0px 5px 15px yellow, -5px 0px 15px orange;
     width: 30%; height: 25%;
     border: solid 2px black;}

#Te1 {color: black; position: relative;
      position: relative; top: 40px;
      font-size: 15px;
      cursor: default; width: 90%;}

.T3 {color: white; background: #157205;
     box-shadow: 0px 0px 15px lime;
     text-shadow: 0px 0px 15px lime;
     padding: 10px;
     cursor: default;
     width: 55%;
     max-width: 700px;
     position: relative; top: 40px;
     font-size: 21px;}

#I2 {position: relative; top: 40px;
     cursor: default;
     box-shadow: 0px 5px 15px blue, -5px 0px 15px teal;
     width: 30%; height: 25%;
     border: solid 2px black;}

.Topicos {color: black; position: relative;
         position: relative; top: 40px;
         font-size: 15px;
         padding: 15px;
         cursor: default; width: 90%;}

#Te2 {color: black; 
      cursor: default;
      position: relative; top: 40px;
      font-size: 15px; width: 90%;}

a {color: white; transition: color 0.3s;}

a:hover {color: cyan; transition: color 0.3s;}

.links {color: grey; transition: color 0.3s;}

.links:hover {color: green; transition: color 0.3s;}

@media screen and (max-width: 600px){
  #I1,#I2 {width: 50%; height: 50%;}
  .Topicos {text-align: left;}
}
